#jyyfjb{
    width: 100%;

}
#demo-radio-buttons-group-label{
    border-bottom: 1px solid rgba(0, 0, 0, 0.212);
    padding:20px;
}
#jyydffjb{
    padding:20px;
    margin: 0px;
    line-height: 1.5;
    font-size: 1rem;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
}
#hfbinic{
    width: 200px;
    line-height: 50px;
   margin: 20px;
}
.nnn{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: large;
}
#demffo{
margin-top: 30px;
}
#demo{

}