#ggggggg{
    background-color: none;
    width: 60vw;
}
#dddddddddddddddddddddddd{
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    width: 100%;
}
#dddddddddddddd{

    background-color: rgba(255, 255, 255, 0);
    width: 97.6vw;
}