.Main {
  margin: 0px;
  padding: 0px;
  display: flex;
  display: grid;
  grid-template-columns: 20% 76%;
  grid-gap: 50px;
}
@media only screen and (max-width: 1200px) {
  .sidebar {
    margin-left: -320px;
  }
}
@media only screen and (max-width: 1200px) {
   .body{
        margin-left: -210px;
  }
  }
  @media only screen and (max-width: 800px) {
    .body{
         margin-left: -180px;
  
   }
   }
   @media only screen and (max-width: 600px) {
    .body{
         margin-left: -150px;
  
   }
   }
